case-studies/convolutional-models/handwriting-recognition/data/emnist-letters-train.csv
.gradio/certificate.pem
case-studies/convolutional-models/handwriting-recognition/data/emnist-letters-test.csv
case-studies/convolutional-models/handwriting-recognition/data/cache/emnist_letters_cache.npz
case-studies/convolutional-models/handwriting-recognition/data/models/handwriting_cnn.keras
case-studies/naives-bayes-models/text-sender-identification/scripts/__pycache__/text_sender_identification_nb_LIVE.cpython-311.pyc
case-studies/naives-bayes-models/text-sender-identification/scripts/__pycache__/text_sender_identification_nb.cpython-311.pyc
case-studies/convolutional-models/handwriting-recognition/scripts/__pycache__/handwriting_recognition_cnn.cpython-311.pyc
tests/__pycache__/conftest.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_basketball_lr.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_breast_cancer_xgb.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_crypto_mc.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_football_lr.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_handwriting_cnn.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_loan_api.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_loan_approval_xgb.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_loan_default_rf.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_nfl_rf.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_notebooks.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_stock_mc.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_text_sender_live.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_text_sender_nb.cpython-311-pytest-9.0.2.pyc
tests/__pycache__/test_weather_markov.cpython-311-pytest-9.0.2.pyc
notebooks/jupyter/weather-prediction/__pycache__/weather_markov.cpython-311.pyc
case-studies/linear-regression-models/basketball-points-prediction/scripts/__pycache__/points_prediction_linear_reg.cpython-311.pyc
case-studies/linear-regression-models/football-points-prediction/scripts/__pycache__/points_prediction_linear_reg.cpython-311.pyc
case-studies/monte-carlo-models/crypto-market-prediction/scripts/__pycache__/crypto_market_prediction_mc.cpython-311.pyc
case-studies/monte-carlo-models/stock-market-prediction/scripts/__pycache__/stock_market_monte_carlo.cpython-311.pyc
case-studies/random-forest-models/loan-default-prediction/api/__pycache__/api.cpython-311.pyc
case-studies/random-forest-models/nfl-game-prediction/scripts/__pycache__/nfl_game_prediction_random_forest.cpython-311.pyc
case-studies/xgb-models/breast-cancer/scripts/__pycache__/train_eval.cpython-311.pyc
case-studies/xgb-models/loan-approval/scripts/__pycache__/loan_approval_model.cpython-311.pyc
case-studies/random-forest-models/loan-default-prediction/scripts/__pycache__/loan_default_random_forest.cpython-311.pyc
CLAUDE.md
